@import url(../var/var.css);

body {
    background-color: var(--BG-1); /* achtergrond kleur */
    color: var(--TC-1); /* tekst kleur */
    font-family: 'Orbitron', sans-serif; /* High-tech font */
}

.hero {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    background-color: var(--BG-2); /* Semi-transparant voor glas-effect */
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 35px var(--BG-3); /* Zacht neon-blauw licht */
}

.hero h1 {
    margin-top: 20px;
    font-size: 3em;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero subtext {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.hero a {background-image: linear-gradient(to right, var(--BG-1) 0%, var(--PC-1)  55%, var(--BG-1)  100%)}
.hero a {
    display: block;
    margin: 0 auto; /* Centers horizontally */
    background-size: 200% auto;
    color: var(--TC-1);
    width: 15%;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px 45px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 7px 7px 7px var(--BG-3);
}

/* Hover-effect voor de login-knop */
.hero a:hover {
    background-position: right center; /* change the direction of the change here */
    color: var(--TC-1);  /* Verander de tekstkleur naar zwart wanneer actief */
}

.dashboard {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

.dashboard h1 {
    margin-top: 20px;
    font-size: 3em;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.dashboard-subtext {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    margin-bottom: 20px;
    letter-spacing: px;
}

.dashboard a {
    background-color: var(--BG-3);
    color: var(--TC-3); /* Kleur van de tekst */
    box-shadow: 10px 10px 10px var(--BG-2);
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    padding: 20px;
    transition: box-shadow 1s ease-in-out, background-color 0.6s ease-in-out, color 0.8s ease-in-out;  /* Voeg een vloeiende overgang toe voor de kleurverandering */
}

.dashboard a:hover {
    background-color: var(--BG-2); /* Kleur van de tekst */
    color: var(--TC-1); /* Kleur van de tekst */
    box-shadow: 10px 10px 10px var(--BG-3);
    transition: box-shadow 1s ease-in-out, background-color 0.6s ease-in-out, color 0.8s ease-in-out;  /* Voeg een vloeiende overgang toe voor de kleurverandering */
}

.main_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.main_body {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit; /* Optioneel: behoudt de tekstkleur van de omringende elementen */
}

.skills-title, .projects-title {
    text-align: center;
    color: var(--TC-1);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.skills, .projects {
    background-color: var(--BG-2);
    box-shadow: 0 0 20px var(--BG-3); /* Zacht neon-blauw licht */
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

.skill-box {
    background: linear-gradient(to right, var(--BG-1) 20%, var(--PC-1) 100%);
}

.project-box {
    background: linear-gradient(to right, var(--PC-1) 0%, var(--BG-1) 80%);
}

.skill-box, .project-box {
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    position: relative;  /* Dit zorgt ervoor dat de afbeelding absoluut wordt gepositioneerd binnen deze container */
    align-items: center;
    gap: 15px;
    box-shadow: 10px 10px 10px var(--BG-2);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.6s ease-in-out;  /* Voeg een vloeiende overgang toe voor de kleurverandering */
}

.skill-box:hover, .project-box:hover {
    transform: scale(1.01); /* Vergroot het element */
    filter: brightness(0.8); /* Maakt de kleur donkerder */
    box-shadow: 10px 10px 10px var(--BG-3);
    transition: box-shadow 0.5s ease-in-out, background-color 0.6s ease-in-out;  /* Voeg een vloeiende overgang toe voor de kleurverandering */
}

h2 {
    color: var(--TC-1);
    text-shadow: 2px 2px 4px var(--TC-3);
}

p {
    width: 85%;
    color: var(--TC-1);
}

.main_button_1 {background-image: linear-gradient(to right, var(--BG-1) 0%, var(--PC-1)  55%, var(--BG-1)  100%)}
.main_button_1 {
    display: block;
    width: fit-content; /* Adjust width to fit content */
    margin: 0 auto; /* Centers horizontally */
    background-size: 200% auto;
    color: var(--TC-1);
    width: 30%;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px 45px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.main_button_1:hover {
    background-position: right center; /* change the direction of the change here */
    color: var(--TC-1);  /* Verander de tekstkleur naar zwart wanneer actief */
    box-shadow: 5px 5px 10px var(--BG-3);
}

.main_button_2 {background-image: linear-gradient(to left, var(--BG-1) 0%, var(--PC-1)  55%, var(--BG-1)  100%)}
.main_button_2 {
    background-position: right center; /* Button 2: Gradient moves from right to left (opposite of button 1) */
    display: block;
    width: fit-content; /* Adjust width to fit content */
    margin: 0 auto; /* Centers horizontally */
    background-size: 200% auto;
    color: var(--TC-1);
    width: 30%;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px 45px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.main_button_2:hover {
    background-position: left center; /* Button 2: Gradient moves from right to left (opposite of button 1) */
    color: var(--TC-1);
    box-shadow: 5px 5px 10px var(--BG-3);
}

.skill-box img, .project-box img {
    position: absolute;  /* De afbeelding wordt nu absoluut gepositioneerd binnen de .skill-box of .project-box */
    right: 15px;  /* Dit zorgt ervoor dat de afbeelding aan de rechterkant van de container komt */
    width: 100px;
    height: 100px;
    object-fit: flex;
    border-radius: 10px; /* Optioneel: afgeronde hoeken */
}

.templates-title {
    text-align: center;
    color: var(--TC-1);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.templates-quick {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.templates-box {
    height: 60px;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    position: relative; /* Zorgt ervoor dat het pseudo-element zich aanpast aan dit element */
    transition: transform 0.3s ease-in-out;
}

.templates-box::before {
    content: "";
    position: absolute;
    inset: 0; /* Bedekt het hele element */
    background: var(--BG-2); /* Zelfde achtergrondkleur als de box */
    border-radius: 10px;
    z-index: -1; /* Dit plaatst het boven de gloed maar achter de content */
}

/*! vanaf hier moet ik die variables weer doen daar boven zijn de kleuren al goed */

.templates-box::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.0), var(--hooft-kleur-1), rgba(0, 0, 0, 0));
    z-index: -5; /* Plaatst de gloed achter het element */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.templates-box:hover {
    transform: scale(1.05);
}

.templates-box:hover::after {
    z-index: -5;
    opacity: 1; /* Laat de gloed verschijnen bij hover */
}

.templates-box img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
    flex-shrink: 0;
}

.templates-box div {
    display: flex;
    flex-direction: column;
}

.templates-box h2 {
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    color: var(--tekst-licht);
}

.templates-box p {
    width: 100%;
    margin: 5px 0 0;
    color: var(--tekst-grijs);
}

.main_button_3 {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    -webkit-text-fill-color: var(--tekst-licht);
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1600px) {
    h2 {
        width: 80%;
    }
    
    p {
        width: 80%;
    }
    .hero a {
        width: 20%;
    }
}

@media screen and (max-width: 1400px) {
    .hero {
        margin-left: 3%;
        margin-right: 3%;
    }

    h2 {
        width: 70%;
    }
    
    p {
        width: 70%;
    }

    .hero a {
        width: 25%;
    }

    .main_button_1, .main_button_2 {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .main_body {
        flex-direction: column; /* Zet de divs onder elkaar */
        align-items: center; /* Centreert de divs */
        gap: 20px; /* Voegt ruimte toe tussen de divs */
    }

    .skills, .projects {
        width: 90%; /* Zorgt ervoor dat ze breder zijn op mobiel */
        margin-bottom: 20px; /* Extra ruimte onder elke sectie */
    }

    .hero {
        margin-left: 2%;
        margin-right: 2%;
    }

    h2 {
        width: 80%;
    }
    
    p {
        width: 80%;
    }

    .hero a {
        width: 50%;
    }

    .main_button_1, .main_button_2, .main_button_3 {
        width: 75%;
    }

    .templates-quick {
        flex-direction: column;

    }

    .templates-box {
        margin-left: 5%;
        width: 90%;
        text-align: center;
    }

    .templates-box img {
        margin-bottom: 10px;
        margin-right: 10px;

    }

    .templates-box p, .templates-box h2 {
        width: 100%;

    }
}
